<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366066709229-lq9kd5q82bn3blhf1rb8qbv0a4kl1ibb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366066709229-lq9kd5q82bn3blhf1rb8qbv0a4kl1ibb</string>
	<key>API_KEY</key>
	<string>AIzaSyACU2HOvEu7oTcjuOc_U5852CtOJpKofh0</string>
	<key>GCM_SENDER_ID</key>
	<string>366066709229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.flutly</string>
	<key>PROJECT_ID</key>
	<string>flutly-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>flutly-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366066709229:ios:799f0e18ca0cc57bfcd2e4</string>
</dict>
</plist>